html, body{
  margin: 0;
  padding: 0;
  font-family: "Oswald";
  font-size: 16px;
}
p{
  margin: 0;
}

.site{
  display: grid;
  grid-template-columns: 0.8fr 0.1fr 2fr;
  grid-template-rows: 0.03fr 0.05fr 0.19fr auto 0.3fr 0.13fr 0.08fr;
  margin: auto;
  height:2000px;
  width: 1041px;
  border:1px solid black;
  grid-template-areas:
    "login login login"
     "header header header"
     "banner banner banner"
     "ingredients ingredients main_info"
     "related related related"
     "extra extra extra"
     "footer footer footer"
}

.login{
  grid-area: login;
  /*height: 40px;*/
  background-color: rgba(235,235,235);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.login .buttons{
  margin-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login p{
  padding: 0px 5px 0px 5px;
  font-size: 0.8em;
}
.login p:first-child{
  border-right: 1px solid;
}
.header{
  grid-area: header;
  display: grid;
  grid-template-columns: 5fr 10fr 5fr;
  grid-template-rows: 1;
  grid-template-areas:
    "image nav shoppinglist"
  /*height: 300px;*/
  /*height: 70px;*/
  /*background-color: white;*/
}
.header .image{
  display: flex;
  justify-content: center;
}
.header .img img{
  
}

.header .nav{
  display: flex;
  align-content: center;
  justify-content: flex-start;
}
.nav ul{
  padding: 0;
  list-style-type: none;
  flex-grow: 1;
  display: flex;

  justify-content: space-around;
  align-items: center;
}

.nav ul li{
  font-size: 1em;
  
}
.nav ul li:hover{
  color: grey;
  cursor: pointer;
}

.header .shoppingcart{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .shoppingcart .button{
  color: white;
  background-color: rgba(248,162,48);
  border: none;
  height: 2.5em;
  width: 12em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .shoppingcart .button p{
  font-size: 0.8em;
}
.header .shoppingcart .button i{
  font-size: 1em;
  margin-right: 10px;
}

.header .shoppingcart .button:hover{
  color: grey;
  cursor: pointer;
}

.header img{
  position: absolute;
  top: 1%;
}

.banner{
  grid-area: banner;
  /*height: 300px;*/
  background-image: url('banner.jpg');
  background-size: 100%;
}

.ingredients{
  /*background-color: blue;*/
  margin-left: 20px;
  margin-top: 20px;

}
.subIngredients{
  /*background-color: yellow;*/
  display: flex;
  justify-content: space-between;
  border-bottom: solid grey 1px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.ingredients p{
  margin:0;
}
.ingredients i{
}
.ingredients .title{
  /*background-color: green;*/
  padding-bottom: 15px;
  border-bottom: dashed rgba(248,162,48) 4px;

}
.ingredients .whitespace{
  margin-top: 20px;
}
.ingredients .ingredients_1{
  /*background-color: red;*/
}

.ingredients .ingredients_2{
  /*background-color: yellow;*/

}

.ingredients .addMoreIngredients{
  /*background-color: purple;*/
}
.ingredients .addMoreIngredients .button{
  width: 140px;
  height: 40px;
  background-color: rgba(248,162,48);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: white;
}
.ingredients .shoppingListLink{
  margin-top: 10px;
  font-size: 12px;
}
.ingredients .shoppingListLink a{
  text-decoration: none;
  color: rgba(248,162,48);
}

.main_info{
  grid-area: main_info;
  /*background-color: grey;*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.15fr 1fr 0.3fr;
  grid-template-areas:
    "header"
    "sub_header"
    "body"
    "footer"
}
.main_info .info__header{
  grid-area: header;
  /*background-color: green;*/
  display:grid;
  grid-template-columns: 1fr 0.4fr;
  grid-template-rows: auto;
  border-bottom: dashed rgba(248,162,48) 4px;
  grid-template-areas:
    "text buttons"
}
.info__header .header--text{
  grid-area: text;
  font-size: 10px;
  color: rgba(248,162,48);
}
.info__header .buttons{
  grid-area: buttons;
  /*background-color: pink;*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.info__header .save{
  background-color: rgba(248,162,48);
  height: 40px;
  width: 90px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.info__header .print{
  background-color: black;
  height: 40px;
  width: 80px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.main_info .info__body{
  grid-area: body;
  /*background-color: blue;*/
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.5fr 1fr auto;
  grid-template-areas:
    "head"
    "instructions"
    "more"
}
.info__body .head{
  grid-area: head;
  /*background-color: yellow;*/
  display: flex;
  align-items: center;
}
.info__body .instructions{
  grid-area: instructions;
  /*background-color: green;*/
}
.instructions .instructionsHead{
  font-size: 20px;
  padding-bottom: 20px;
}
.info__body .more{
  grid-area: more;
  /*background-color: pink;*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
  padding-top: 10px;
}
.more .moreText{
  font-size: 20px;
}
.more .buttons{
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
}
.more .button1{
  background-color: grey;
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2px;
  border-radius: 7%;
  color: white;
}
.more .button2{
  background-color: grey;
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2px;
  border-radius: 7%;
  color: white;
}
.main_info .info__footer{
  grid-area: footer;
  /*background-color: red;*/
  background-image: url('instructionsFooter.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 59px;
  border-bottom: 1px solid grey;
}
.info__subHeader{
  grid-area: sub_header;
  /*background-color: pink;*/
  border-bottom: dashed rgba(248,162,48) 4px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "menu time persons season rating"
}
.info__subHeader i{
  font-size: 35px;
  color: grey;
  margin-right: 5px;
}
.info__subHeader p{
  color: rgba(248,162,48);
}
.info__subHeader .headText{
  color: black;
}
.info__subHeader .menu{
  grid-area: menu;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info__subHeader .time{
  grid-area: time;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info__subHeader .persons{
  grid-area: persons;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info__subHeader .season{
  grid-area: season;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info__subHeader .rating{
  grid-area: rating;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.related{
  grid-area: related;
  background-color: rgba(245,245,245);
  display: flex;
  align-items: center;
}
.related__item{
  margin-left: 20px;
  /*background-color: red;*/
  width: 310px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.related__head{
  /*background-color: yellow;*/
}
.related__image{
  /*background-color: blue;*/
  background-image: url('related.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 170px;
}
.related__rating{
  background-image: url('rating.png');
  background-repeat: no-repeat;
  background-size:contain;
  width: 100px;
  height: 15px;
}

.extra{
  grid-area: extra;
  background-color: yellow;
  background-image: url('extra.png');
  background-size: 100% 100%;
}

footer{
grid-area: footer;
background-color: red;
background-image: url('footer.png');
background-size: 100% 100%;
/*height: 150px;*/
}